<section class="content-section" id="contato">
  <div class="container">
    <div class="contact-container">
      <div class="info">
        <h3>Fale Conosco</h3>
        <p>
          Entre em contato conosco através de um de nossos canais de comunicação. Ficaremos felizes em atende-lo!
        </p>
        <div class="info-line-container">
          <div class="info-line">
            <img loading="lazy" src="/icons/phone.svg" alt="Telefone">
            <a href="tel:+555130120735">(51) 3012-0735</a>
          </div>
          <div class="info-line">
            <img loading="lazy" src="/icons/envelope.svg" alt="Email">
            <a href="mailto:vendas01@realezars.com.br" type="email">vendas01&#64;realezars.com.br</a>
          </div>
          <div class="info-line">
            <img loading="lazy" src="/icons/location-dot.svg" alt="Email">
            <a href="https://maps.app.goo.gl/Pnh8fCfCbwvm5r2C7"
              rel="noreferrer noopener"
              target="_blank"
            >
              Rua Fernando Cortez, 239 Cristo Redentor – Porto Alegre – RS
            </a>
          </div>
        </div>
        <div class="social-links-container">
          <a target="_blank" rel="noreferrer noopener" href="https://api.whatsapp.com/send/?phone=555130120735&text=Ol%C3%A1+Realeza%21+%2AVim+do+site%2A+e+gostaria+de+ajuda%21&type=phone_number&app_absent=0">
            <img loading="lazy" src="/icons/whatsapp.svg" alt="WhatsApp">
          </a>
          <a target="_blank" href="https://www.instagram.com/realezasegurancaeletronica">
            <img loading="lazy" src="/icons/instagram.svg" alt="Instagram">
          </a>
          <a target="_blank" href="https://www.facebook.com/RealezaRS">
            <img loading="lazy" src="/icons/facebook.svg" alt="Facebook">
          </a>
        </div>
      </div>
      <div class="map">
        <iframe
          title="Mapa"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3454.841494935333!2d-51.15960132482562!3d-30.012707374939666!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x951977711b037659%3A0x849f84611354cc32!2sRealeza%20Sistemas%20de%20Seguran%C3%A7a%20Eletr%C3%B4nica!5e0!3m2!1spt-BR!2sbr!4v1753759496191!5m2!1spt-BR!2sbr"
          allowfullscreen
          loading="lazy"
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</section>