<section class="content-section about-container" id="sobre-nos">
  <div class="bg"></div>
  <div class="about-container container">
    <div class="about-left">
      <div class="about-metrics">
        <div class="metric-box">
          <div class="number"> <strong #expirienceNumber>0</strong> </div>
          <span>Anos <br> de Experiência</span>
        </div>
        <div class="metric-box">
          <div class="number"> <strong #clientNumber>0</strong>&nbsp;<strong>Mil</strong> </div>
          <span>Clientes <br> Atendidos</span>
        </div>
        <div class="metric-box">
          <div class="number"> <strong #gatesNumber>0</strong>&nbsp;<strong>Mil</strong> </div>
          <span>Portões <br> Instalados</span>
        </div>
        <div class="metric-box">
          <div class="number"> <strong #camerasNumber>0</strong>&nbsp;<strong>Mil</strong> </div>
          <span>Câmeras <br> Vendidas</span>
        </div>
      </div>
      <div class="about-image">
        <img src="/images/marca/fachada-principal.webp" alt="Realeza">
      </div>
    </div>

    <div class="about-right">
      <span class="pre-title">SAIBA MAIS</span>
      <app-subtitle text="Quem somos" />
      <p>
        <strong>Desde 1977 no mercado, a Realeza construiu uma trajetória sólida, baseada em excelência e experiência.</strong>
        Com mais de quatro décadas de atuação, unimos conhecimento técnico e uma equipe altamente capacitada para oferecer soluções de alto nível em segurança e tecnologia.
      </p>
      <p>
        Dominamos os detalhes dos equipamentos, processos e serviços, garantindo qualidade e eficiência em cada projeto.
      </p>
      <p>
        Nosso compromisso é colocar toda essa experiência à disposição de você, do seu condomínio e da sua empresa —
        proporcionando mais tranquilidade, inovação e confiança no seu dia a dia.
      </p>
      <div class="about-benefits">
        <div class="benefit">
          <img src="/images/seguranca-icone.png" alt="Mais Segurança">
          <span>Mais Segurança<br>para Você</span>
        </div>
        <div class="benefit">
          <img src="/images/acessivel-icone.png" alt="Melhor Custo Benefício">
          <span>Melhor Custo<br>Benefício</span>
        </div>
        <div class="benefit">
          <img src="/images/condominio-icone.png" alt="Residências e Condomínos">
          <span>Soluções Residênciais,<br> Empresariais e Condominiais</span>
        </div>
      </div>
      <app-conversion-button />
    </div>
  </div>
</section>
