<footer>
  <div class="copy-line">
    <span>
      {{ year }}&nbsp;&copy;&nbsp;Realeza Sistemas de Segurança Eletrônica - CNPJ: 89.154.819/0001-17
    </span>
    <br>
<a href="https://www.flaticon.com/br/icones-gratis/edificios" title="edifícios ícones">Edifícios ícones criados por DinosoftLabs - Flaticon</a>
<br>

<a href="https://www.flaticon.com/br/icones-gratis/cadeado" title="cadeado ícones">Cadeado ícones criados por manshagraphics - Flaticon</a>
<br>
<a href="https://www.flaticon.com/br/icones-gratis/despesas" title="despesas ícones">Despesas ícones criados por amoghdesign - Flaticon</a>
<br>
<a href="https://www.flaticon.com/br/icones-gratis/relogio" title="relógio ícones">Relógio ícones criados por srip - Flaticon</a> 
</div>
</footer>