@use '../../../vars.scss' as *;

.services-section {
  text-align: center;
  background-color: $simple-bg;

  .cards {
    display: flex;
    gap: 2rem;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-end;
  }

  .card {
    border-radius: 10px;
    flex: 1;
    transition: all 0.3s ease;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
    background: #fff;
    overflow: hidden;
    will-change: transform, opacity;
      
    .image {
      position: relative;
      width: 100%;
      height: 180px;
      overflow: hidden;

      img {
        position: absolute;
        inset: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
        z-index: 10;
      }
    }

    .content {
      padding: 1.5rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      

      h4 {
        font-family: 'Raleway', sans-serif;
        margin-bottom: 1rem;
        font-size: 1.3rem;
        color: #222;
      }

      p {
        font-size: 0.9rem;
        color: $secondary-text;
        margin-bottom: 1.5rem;
      }

      .button {
        background: #333;
        color: #fff;
        padding: 0.5rem 1.2rem;
        border-radius: 0.5rem;
        text-decoration: none;
        font-weight: bold;
        transition: background 0.3s;

        &:hover {
          background: #111;
        }
      }

      &.highlight {
        background: $primary;
        color: $primary-text;

        .icon {
          color: $primary-text;
        }

        h4, p {
          color: $primary-text;
        }

        .button {
          background: $primary-text;
          color: $primary;

          &:hover {
            background: #e0e0e0;
          }
        }
      }
    }
  }
}

@media (max-width: 998px) {
  .services-section .card {
    flex: 1 1 calc(50% - 1rem);
  }

  .services-section .card:nth-child(2) {
    flex: 1 1 100%;
    order: -1;
  }
}

@media (max-width: 556px) {
  .services-section .card {
    flex: 1 1 100%;
  }

  .services-section .card:nth-child(2) {
    order: -1;
  }
}
