<section class="services-section content-section" id="servicos">
  <div class="container">
    <app-subtitle text="Nossos Serviços" [showLine]="true" />

    <div class="cards">
      @for (service of services; track service.title) {
        <div class="card">
          
          <div class="image">
            <img loading="lazy" [src]="service.image" [alt]="service.title">
          </div>
          <div class="content" [class.highlight]="service.highlight">
            <h4>{{ service.title }}</h4>
            <p>
              {{ service.description }}
            </p>
            <a class="button" [href]="service.link">Saiba mais</a>
          </div>
        </div>
      }
    </div>
  </div>
</section>
