<div class="carousel-container">
  <h3 class="title">Soluções</h3>
  <p class="subtitle">
    Oferecemos uma gama completa de soluções de para segurança e comunicação, residenciais e comerciais.
  </p>

  <div class="carousel-wrapper">
    <img class="nav left" (click)="scroll('left')" src="/icons/circle-chevron-left.svg" alt="Anterior">

    <div class="carousel-track-services">
      @for (service of services; track service.title) {
        <div class="carousel-item" (click)="navigate(service.link)">
          <div class="bg" [style.backgroundImage]="'url(' + service.image + ')'"></div>
          <div class="overlay">
            <h4>{{ service.title }}</h4>
            <p>{{ service.description }}</p>
          </div>
        </div>
      }
    </div>

    <img class="nav right" (click)="scroll('right')" src="/icons/circle-chevron-right.svg" alt="Próximo">
  </div>
</div>
