@use '../../../vars.scss' as *;

.serralheria-page {
  padding: 2rem;

  .header {
    text-align: center;
    margin-bottom: 2rem;

    h1 {
      font-size: 2.5rem;
      margin-bottom: 1rem;
      color: $primary;
    }

    img {
      max-width: 100%;
      border-radius: 1rem;
      box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    }
  }

  .intro {
    font-size: 1.1rem;
    margin-bottom: 2rem;
    max-width: 800px;
    margin-inline: auto;
    text-align: center;
  }

  h2 {
    font-size: 1.5rem;
    margin: 2rem 0 1rem;
    text-align: center;
  }

  .services-list {
    list-style: none;
    padding: 0;
    max-width: 600px;
    margin: 1rem  auto 2rem;

    li {
      font-size: 1rem;
      margin: 0.5rem 0;
      display: flex;
      align-items: center;
      gap: 0.5rem;

      img {
        width: 15px;
        fill: $primary;
      }
    }
  }

  .cta {
    margin-top: 3rem;
    text-align: center;

    h3 {
      font-size: 1.3rem;
      margin-bottom: 2rem;
    }
  }
}
