<section class="container content-section">
  <div class="instagram-feed">
    <a class="header" href="https://www.instagram.com/realezasegurancaeletronica" target="_blank">
      <img src="/icons/instagram.svg" alt="Instagram" />
      <h2>Siga-nos no Instagram</h2>
    </a>
    <div class="grid">
      @for (post of posts; track post.url) {
        <a [href]="post.url" target="_blank" rel="noopener noreferrer">
          <img
            loading="lazy"
            [src]="post.image"
            [alt]="post.alt"
          />
        </a>
      }
    </div>
  </div>
</section>