<section class="solutions-section content-section">
  <div class="container">
    <div class="title-section">
      <app-subtitle text="Atendimento e Tecnologia ao Seu Alcance" [showLine]="true" [center]="true" />
      <p>Mais segurança e praticidade com nossos planos sob medida</p>
    </div>

    <div class="items">
      <div class="item">
        <img src="/images/24-horas.png" class="clock" alt="Ícone de Relógio" loading="lazy" />
        <h3>Planos com Suporte 24h</h3>
        <p>
          Contratos sob medida para condomínios com cobertura completa e chamados ilimitados. Conte com assistência técnica 24 horas, garantindo segurança e atendimento contínuo.
        </p>
      </div>

      <div class="divider"></div>

      <div class="item">
        <img src="/images/app.png" alt="Ícone de aplicativo" loading="lazy" />
        <h3>Aplicativo para Condomínios</h3>
        <p>
          Aplicativo personalizado com controle de acesso, envio de notificações, mural de avisos e muito mais. Gestão facilitada com tecnologia de ponta.
        </p>
      </div>
    </div>

    <div class="cta">
      <a class="btn-primary" target="_blank" href="https://api.whatsapp.com/send/?phone=555130120735&text=Ol%C3%A1+Realeza%21+%2AVim+do+site%2A+e+gostaria+de+ajuda%21&type=phone_number&app_absent=0">Solicitar atendimento</a>
    </div>
  </div>
</section>
