<section class="brands-section container content-section">
  <app-subtitle text="Marcas que trabalhamos" [showLine]="true" />
  <div class="carousel-wrapper">
    <div class="carousel-track">
      @for (item of brands; track item.name) {
        <div class="brand-item">
          <img [src]="item.url" [alt]="item.name" loading="lazy" />
        </div>
      }
      @for (item of brands; track item.name) {
        <div class="brand-item">
          <img [src]="item.url" [alt]="item.name" loading="lazy" />
        </div>
      }
    </div>
  </div>
</section>
