<div class="carousel-container">
  <h3 class="title">Soluções</h3>
  <p class="subtitle">
    Oferecemos uma gama completa de soluções de para segurança e comunicação, residenciais e comerciais.
  </p>

  <div class="carousel-wrapper">
    <img class="nav left" (click)="scroll('left')" src="/icons/circle-chevron-left.svg" alt="Anterior">

    <div class="carousel" #carousel>
      @for (solution of solutions; track solution.title) {
        <div class="carousel-item">
          <div class="bg" [style.backgroundImage]="'url(' + solution.image + ')'"></div>
          <div class="overlay">
            <h4>{{ solution.title }}</h4>
            <p>{{ solution.description }}</p>
          </div>
        </div>
      }
    </div>

    <img class="nav right" (click)="scroll('right')" src="/icons/circle-chevron-right.svg" alt="Próximo">
  </div>
</div>
