.carousel-container {
  text-align: center;

  .subtitle-text {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }

  .carousel-wrapper {
    width: 100%;
    
    position: relative;
    
    .carousel {
      display: flex;
      overflow-x: auto;
      scroll-behavior: smooth;
      scroll-snap-type: x mandatory;

      scrollbar-width: none;
      -ms-overflow-style: none;

      &::-webkit-scrollbar {
        display: none;
      }
    }

    .carousel-item {
      flex: 0 0 25%;
      cursor: pointer;
      position: relative;
      height: 350px;
      transition: transform 0.3s;
      overflow: hidden;
      scroll-snap-align: start;

      .bg {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;

        img {
          position: absolute;
          inset: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
          z-index: -1;
        }
      }

      .overlay {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.70);
        color: white;
        width: 100%;
        transition: 200ms;
        height: 65px;
        padding: 16px;

        h4 {
          margin: 0 0 8px 0;
          font-size: 1.1rem;
        }

        .arrow-down {
          width: 20px;
          filter: brightness(0) invert(1);
          animation: floatArrow 2s ease-in-out infinite;
        }

        p {
          margin: 0;
          font-size: 0.9rem;
        }
      }

      &:hover {
        .overlay {
          height: 100%;
          align-items: center;
          flex-direction: column;
          justify-content: center;
        }

        .arrow-down {
          display: none;
        }
      }
    }

    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      border: none;
      width: 50px;
      cursor: pointer;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }
}

/* RESPONSIVIDADE */
@media (max-width: 1199px) {
  .carousel-item {
    flex: 0 0 33.33% !important;
  }
}
@media (max-width: 998px) {
  .carousel-item {
    flex: 0 0 33.33% !important;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 50% !important;

    .overlay {
      height: 60px !important;
    }

    &:hover .overlay {  
      height: 100% !important;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
  .nav.left {
    display: none;
  }

  .nav.right {
    display: none;
  }
}
@media (max-width: 576px) {
  .carousel-item {
    flex: 0 0 100% !important;
  }
}

@keyframes floatArrow {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}