.carousel-container {
  text-align: center;

  .subtitle {
    font-size: 1.2rem;
    margin-bottom: 2rem;
    color: #333;
  }

  .carousel-wrapper {
    position: relative;
    overflow: hidden;

    .carousel-track-services {
      display: flex;
      transition: transform 0.5s ease;
    }

    .carousel-item {
      flex: 0 0 25%;
      cursor: pointer;
      position: relative;
      height: 350px;
      transition: transform 0.3s;
      overflow: hidden;

      .bg {
        background-size: cover;
        background-position: center;
        width: 100%;
        height: 100%;
      }

      .overlay {
        position: absolute;
        bottom: 0;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: flex-start;
        background: rgba(0, 0, 0, 0.70);
        color: white;
        width: 100%;
        transition: 200ms;
        height: 50px;
        padding: 16px;

        h4 {
          margin: 0 0 8px 0;
          font-size: 1.1rem;
        }

        p {
          margin: 0;
          font-size: 0.9rem;
        }
      }

      &:hover .overlay {  
        height: 100%;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }
    }

    .nav {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
      border: none;
      width: 50px;
      cursor: pointer;

      &.left {
        left: 10px;
      }

      &.right {
        right: 10px;
      }
    }
  }
}

/* RESPONSIVIDADE */
@media (max-width: 1199px) {
  .carousel-item {
    flex: 0 0 33.33% !important;
  }
}
@media (max-width: 998px) {
  .carousel-item {
    flex: 0 0 33.33% !important;
  }
}
@media (max-width: 768px) {
  .carousel-item {
    flex: 0 0 50% !important;

    .overlay {
      height: 45px !important;
    }

    &:hover .overlay {  
      height: 100% !important;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }
}
@media (max-width: 576px) {
  .carousel-item {
    flex: 0 0 100% !important;
  }
}
