<div class="carousel-container content-section">
  <div class="container">
    <app-subtitle text="Soluções" [showLine]="true" />
    <p class="subtitle-text">
      Oferecemos uma gama completa de soluções para segurança e comunicação, residenciais e comerciais.
    </p>
  </div>

  <div class="carousel-wrapper">
    <img
      class="nav left"
      loading="lazy"
      src="/icons/circle-chevron-left.svg"
      alt="Anterior"
      (click)="scroll('left')"
    >

    <div class="carousel" #carousel>
      @for (solution of solutions; track solution.title) {
        <div class="carousel-item">
          <div class="bg">
            <img loading="lazy" [src]="solution.image" [alt]="solution.title">
          </div>
          <div class="overlay">
            <h3>{{ solution.title }}</h3>
            <img src="/icons/chevron-down.svg" class="arrow-down" loading="lazy" alt="Saiba Mais" />
            <p>{{ solution.description }}</p>
          </div>
        </div>
      }
    </div>

    <img
      class="nav right"
      loading="lazy"
      src="/icons/circle-chevron-right.svg"
      alt="Próximo"
      (click)="scroll('right')"
    >
  </div>
</div>
