<div class="carousel-wrapper content-section">
  <div class="container">
    <app-subtitle text="O que dizem sobre a Realeza" />
  </div>

  <div class="carousel-container container">
    <img
      class="nav left"
      loading="lazy"
      src="/images/icons/circle-chevron-left.svg"
      alt="Anterior"
      (click)="scroll('left')"
    >
    
    <div class="carousel" #carousel>
      @for (review of reviews; track review) {
        <div class="review-card">
          <b>{{ review.name }}</b>
          <p class="condo">
            <span aria-hidden="true">
              <span class="stars" style="background:linear-gradient(to right, currentcolor 70px, #808b84 0%)"></span>
            </span>
            {{ review.date }}</p>
          <p class="text">“{{ review.text }}”</p>
        </div>
      }
    </div>
    <img
      class="nav right"
      loading="lazy"
      src="/images/icons/circle-chevron-right.svg"
      alt="Próximo"
      (click)="scroll('right')"
    >
  </div>
</div>
