@use '../../../vars.scss' as *;

.banner-background {
  background-image: url('/images/marca/capabg.jpg');
  background-position: bottom;
  background-size: cover;
  height: 650px;
  position: relative;

  .black-filter {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($color: #000000, $alpha: 0.6);
  }
}


.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  color: $primary-text;
  z-index: 1;
  .half {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .half {
      width: 80%;
    }
  }

  @media (min-width: 998px) {
    .half {
      width: 60%;
    }
  }


  h1 {
    font-size: 3.175rem;
  }

  strong {
    color: $primary;
  }

  p {
    font-size: 1.175rem;
  }
}
