@use '../../../vars.scss' as *;

.banner-background {
  background-image: url('/images/background.png');
  background-position: bottom;
  background-size: cover;
  height: 650px;
}

.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  justify-content: center;
  color: $primary-text;

  .half {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1.6rem;
    justify-content: center;
  }

  @media (min-width: 768px) {
    .half {
      width: 80%;
    }
  }

  @media (min-width: 998px) {
    .half {
      width: 60%;
    }
  }


  h2 {
    font-size: 3.175rem;
  }

  strong {
    color: $primary;
  }

  p {
    font-size: 1.175rem;
  }
}
