<section>
  <div class="banner-background">
    <div class="black-filter"></div>
    <div class="container content">
      <div class="half">
        <h1 class="fade-in-up">A escolha certa para proteger seu lar</h1>
        <p class="fade-in-up delay-1">
          Na Realeza, você conta com estrutura profissional e experiência comprovada
          para garantir a <strong>segurança</strong> e <strong>tranquilidade</strong> do seu condomínio ou residência.  
          <br>
          <strong>Confiança</strong>, <strong>eficiência</strong> e cuidado com o que realmente importa:
          <br>
          <strong>sua família</strong>.
        </p>
        <div class="fade-in-up delay-2">
          <a class="btn-primary" target="_blank" href="https://api.whatsapp.com/send/?phone=555130120735&text=Ol%C3%A1+Realeza%21+%2AVim+do+site%2A+e+gostaria+de+ajuda%21&type=phone_number&app_absent=0">Solicitar atendimento</a>
        </div>
      </div>
    </div>
  </div>
</section>