@use './vars.scss' as *;

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

body {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  line-height: 1.6rem;
}

a {
  text-decoration: none;
}

.container {
  margin: 0 auto;
  max-width: 1080px;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Poppins', sans-serif;
  line-height: 1.2;
  margin: 0;
  padding: 0;
}


@media screen and (max-width: 1079.999px) {
 .container {
    margin: 0 1.5rem;
  } 
}

button, .btn-primary {
  padding: 1rem;
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  font-weight: 700;
  border-radius: 5px;
  border: none;
  box-shadow: none;

  &:hover {
    cursor: pointer;
  }
}

.btn-primary {
  color: $primary-text;
  background-color: $primary;
  transition: 100ms;

  &:hover {
    background-color: $primary-hover;
  }

  &:active {
    background-color: $primary-active;
  }
}

.stars {
  color: #FDD663;
  clip-path: polygon(6px 0, 4.31px 3.98px, 0 4.34px, 3.28px 7.18px, 2.29px 11.4px, 6px 9.16px, 9.71px 11.4px, 8.72px 7.18px, 12px 4.34px, 7.69px 3.98px, 6px 0, 20px 0, 18.31px 3.98px, 14px 4.34px, 17.28px 7.18px, 16.29px 11.4px, 20px 9.16px, 23.71px 11.4px, 22.72px 7.18px, 26px 4.34px, 21.69px 3.98px, 20px 0, 34px 0, 32.31px 3.98px, 28px 4.34px, 31.28px 7.18px, 30.29px 11.4px, 34px 9.16px, 37.71px 11.4px, 36.72px 7.18px, 40px 4.34px, 35.69px 3.98px, 34px 0, 48px 0, 46.31px 3.98px, 42px 4.34px, 45.28px 7.18px, 44.29px 11.4px, 48px 9.16px, 51.71px 11.4px, 50.72px 7.18px, 54px 4.34px, 49.69px 3.98px, 48px 0, 62px 0, 60.31px 3.98px, 56px 4.34px, 59.28px 7.18px, 58.29px 11.4px, 62px 9.16px, 65.71px 11.4px, 64.72px 7.18px, 68px 4.34px, 63.69px 3.98px, 62px 0);
  display: inline-block;
  width: 68px;
  height: 11.4px;
}

.content-section {
  padding-top: 2rem;
  padding-bottom: 2rem;
}

.fade-in-up {
  opacity: 0;
  transform: translateY(20px);
  animation: fadeInUp 0.8s ease-out forwards;
}

.fade-in-up.delay-1 {
  animation-delay: 0.3s;
}

.fade-in-up.delay-2 {
  animation-delay: 0.6s;
}

.fade-in-up.delay-3 {
  animation-delay: 0.9s;
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-left {
  opacity: 0;
  transform: translateX(20px);
  animation: fadeInLeft 0.8s ease-out forwards;
}

.fade-in-left.delay-1 {
  animation-delay: 0.2s;
}

.fade-in-left.delay-2 {
  animation-delay: 0.4s;
}

.fade-in-left.delay-3 {
  animation-delay: 0.6s;
}

.fade-in-left.delay-4 {
  animation-delay: 0.8s;
}

@keyframes fadeInLeft {
  to {
    opacity: 1;
    transform: translateX(0);
  }
}
